

@media only screen and (max-width: 768px) and (orientation:portrait)
		
{
		body {
			background-image: url("../img/dark_embroidery.jpg");
			font-family: Helvetica, Arial, Sans-serif;
			font-size: 12px;
			margin: 0;
			padding: 0;

		}


	div {
		background-color:#FFFAFA;
		margin: 10px;
		border:solid 4px red;		
		padding: 0px;

		
	}


	 #cap {
			height:200px;			
			margin: 10px auto 10px auto;
			border-radius: 25px;
			box-shadow: 4px 4px 12px black;
			background-image:url("../img/cabecera.jpg");
			background-size:250%;
			background-position:center;		
			display:block;

		}


	 #peu {
			height:200px;
			width: 90%;			
			margin: 10px auto 10px auto;
			border-radius: 20px;
			box-shadow: 4px 4px 12px black;
			background-image:url("../img/tokio.jpg");
			
	}	

	#contenidor {
				
		margin:0 auto;
		box-shadow: 4px 4px 12px black;
		background-image:url("../img/dark_embroidery.jpg");
		border-radius: 25px;
	}

	#primer {
		width:85%;
		background-size:90%;
		background-position: center;
		border-radius: 10px 10px 0 0;
		box-shadow: 4px 4px 12px black;
		background-image:url("../img/japon.jpg");
		border-radius: 10px;
		padding: 10px;			
	}

	#segon {
		width:85%;			
		box-shadow: 4px 4px 12px black;
		background-image:url("../img/debut_light.jpg");
		border-radius: 10px;
		padding: 10px;
	}
	#tercer {		
			padding: 10px;
			border-radius: 10px;
			box-shadow: 4px 4px 12px black;
			background-image:url("../img/debut_light.jpg");
			padding: 10px;
	}
	#tercer img{
		width: 100%;
		height: auto;
		border: solid #000 2px;

	}

		ul {
		
		overflow:hidden;
		width: 550px;
		margin:0 auto;
		font-size: 14px

	}

	li {
			
			background-image:url("../img/japon.jpg");
			background-size: 90%;
			box-shadow:4px 4px 4px;
			margin:5px;
			width:15%;
			height:40px;
			display:block;
			text-align:center;
			float:left;
			background-position:center;

		}
			li:hover {
			background-image:url("../img/japon.jpg");
			height:40px;
		}
		li a{
			text-decoration: none;
			color:black;
		}
		

		

		}
